:root {
  --primery-color: #f9f7fe;
  --secondary-color: #272142;
  --button-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  line-height: 128px;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 85px;
}
h3 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--secondary-color);
}
p {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  margin: 40px 0;
  color: var(--secondary-color);
}
.introduction-page {
  text-align: center;
  background: var(--primery-color);
  padding: 160px 20px;
}
.introduction-page p {
  font-size: 24px;
  line-height: 36px;
}
.btn-brend {
  background: var(--button-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 25px;
}
.btn-project {
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 25px;
}
.project-description {
  padding: 120px 60px;
}
.project-description p {
  font-size: 16px;
  line-height: 30px;
}
.container h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 85px;
}
.container h3 {
  font-size: 18px;
  line-height: 27px;
  margin: 40px 0;
}
.container {
  padding: 160px 20px;
}
.container p {
  margin: 0;
}
.container-content {
  margin: 30px;
}
.work-page-projectname {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.work-page-subtext {
  font-size: 14px;
}
@media (max-width: 1400px) {
  .project-description {
    padding: 0;
  }
  .container {
    padding: 100px 20px;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }
  h2 {
    font-family: var(--heading-font-family);
    font-size: 44px;
    font-weight: bold;
    line-height: 44px;
  }
  .container h1 {
    font-size: 44px;
    font-weight: bold;
    line-height: 54px;
  }
}
@media (max-width: 990px) {
  .container {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .project-description {
    text-align: center;
  }
  .container {
    padding: 0;
  }
}
